[project]
name = "{{ pymodule_name }}"
version = "0.1.0"
description = "{{ description }}"
readme = "README.md"
requires-python = ">={{ python_version }}"
dependencies = []

[dependency-groups]
dev = [
    "ipython>=8.30.0",
    "polylith-cli>=1.22.0",
    "pytest-cov>=6.0.0",
    "pytest>=8.3.4",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build]
dev-mode-dirs = ["components", "bases", "development", "."]

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
]
