[project]
name = "{{ pymodule_name }}"
version = "0.1.0"
description = "{{ description }}"
readme = "README.md"
requires-python = ">={{ python_version }}"
dependencies = [
    "pydantic-settings>=2.6.1",
    "structlog>=24.4.0",
]

[dependency-groups]
dev = [
    "ipdb>=0.13.13",
    "ipython>=8.30.0",
    "polylith-cli>=1.22.0",
    "pytest-cov>=6.0.0",
    "pytest>=8.3.4",
    "rich>=13.9.4",
    "ruff>=0.8.1",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build]
dev-mode-dirs = ["components", "bases", "development", "."]

[tool.pytest.ini_options]
addopts = [
    "--capture=no",
    "--verbose",
    "--exitfirst",
    "--import-mode=importlib",
    "--cov={{ pymodule_name }}",
    "--cov-report=term-missing",
]
