from pydantic_settings import BaseSettings, SettingsConfigDict

from {{ pymodule_name }}.settings.base import SettingsBaseModel
from {{ pymodule_name }}.settings.logging import LoggingSettings


class Settings(SettingsBaseModel):
    logging: LoggingSettings = LoggingSettings()


settings = Settings()
